<table class="mt3">
  <thead>
    <tr>
      <th class="bl bt bb pa2 table-header">Param</th>
      <th class="bl bt bb pa2 table-header">Type</th>
      <th class="bl bt bb br pa2 table-header">Details</th>
    </tr>
  </thead>

  <tbody class="f6">
    <tr>
      <td class="bl bt bb pa2">abv_gt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with ABV greater than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">abv_lt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with ABV less than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">ibu_gt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with IBU greater than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">ibu_lt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with IBU less than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">ebc_gt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with EBC greater than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">ebc_lt</td>
      <td class="bl bt bb pa2 tc">number</td>
      <td class="bl bt bb br pa2">Returns all beers with EBC less than the supplied number</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">beer_name</td>
      <td class="bl bt bb pa2 tc">string</td>
      <td class="bl bt bb br pa2">Returns all beers matching the supplied name (this will match partial dtrings as well so e.g punk will return Punk IPA)</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">yeast</td>
      <td class="bl bt bb pa2 tc">string</td>
      <td class="bl bt bb br pa2">Returns all beers matching the supplied yeast name, this also matches partial strings</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">brewed_before</td>
      <td class="bl bt bb pa2 tc">date</td>
      <td class="bl bt bb br pa2">Returns all beers brewed before this date, the date format is mm-yyyy e.g 10-2011</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">brewed_after</td>
      <td class="bl bt bb pa2 tc">date</td>
      <td class="bl bt bb br pa2">Returns all beers brewed after this date, the date format is mm-yyyy e.g 10-2011</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">hops</td>
      <td class="bl bt bb pa2 tc">string</td>
      <td class="bl bt bb br pa2">Returns all beers matching the supplied hops name, this also matches partial strings</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">malt</td>
      <td class="bl bt bb pa2 tc">string</td>
      <td class="bl bt bb br pa2">Returns all beers matching the supplied malt name, this also matches partial strings</td>
    </tr>
    <tr>
      <td class="bl bt bb pa2">food</td>
      <td class="bl bt bb pa2 tc">string</td>
      <td class="bl bt bb br pa2">Returns all beers matching the supplied food string, this also matches partial strings</td>
    </tr>
  </tbody>
</table>
