<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>
<table class="container">
<tr>
<td>
<table class="row">
<tr>
<td class="wrapper last">
<table class="twelve columns">
<tr>
<td>
<h1>Your PunkAPI API key</h1>
</td>
<td class="expander"></td>
</tr>
<tr>
  <td>
    <p class="lead">Your API key is: <%= @user.api_key %></p>
    <p>Now that you have your key, head over to the <a href="https://punkapi.com/documentation">documentation</a> to see how to use the API.</p>
    <p>If you need your API key resetting for any reason email hello@punkapi.com from the email address you signed up with.</p>
  </td>
</tr>
</table>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
</td>
</tr>
</table>
