.logo {
  max-width: 40px;
  vertical-align: middle;
}

.logo__label {
  animation: color-change 14s infinite forwards;
}

@keyframes color-change {
  0%   { fill: #6CB150; }
  25%  { fill: #00B0E0; }
  50%  { fill: #FFC04C; }
  75%  { fill: #EC5739; }
  100% { fill: #6CB150; }
}
