.font-terminal-open {
  font-family: 'terminal_grotesque_open';
  font-weight: 400;
}

.font-terminal {
  font-family: 'terminal_grotesque';
  font-weight: 400;
}

.font-office-code {
  font-family: 'office-code-pro';
  font-weight: 400;
}

a {
  color: #333333;
}
